empire/troops/images
login_details_*.txt
__pycache__/
*.pyc
empire/berimond/berimond_attack_state.json
empire/troops/images
captures
empire/29_june_outer_realm/latest_5_server_messages
.vscode
old_scripts
empire/sand_rbc_farm/logs
empire/bot/psql_connect.ini
empire/bot/logs
empire/bot/rbc_proxy_listener.log
account_data
bot/logs
credentials
unused
venv
instructions.txt
how_to_.txt
ventrilo_conn.txt
workspace.txt
bot/rbc_proxy_listener.log
